<a href="https://colab.research.google.com/github/AditiPai/Learning_Python/blob/main/python_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Develop A PYTHON programe to convert a binary number into a decimal, octal or hexa decimal numbers using functions

num = input("enter a binary number: ")

def convert(num):
  #decimal
  a= int(num,2)
  print(a)

  b= oct(a)[2:]
  print(b)

  c= hex(a)[2:]
  print(c)

convert(num)

enter a binary number: 0010
8
10
8

In [ ]:
#Define a  function F as Fn =Fn-1 +Fn-2. write a python program which accepts a value for N(for N >0)
#as input and pass this value to the function. Display suitable error msg if the condition for input value is not followed

In [ ]:
#find string similarities between 2 similar strings

In [ ]:
#write a Python program that accepts a sentence and finds the number of words, digits, uppercase lettrs and lower case letters

import string

sentence = input("enter a sentence: ")
word_list = sentence.strip().split(" ")
print(f"this list has {len(word_list)} words")

digit_count = lower_count= upper_count=0

for char in sentence:
  if char in string.digits:
    digit_count+=1
  elif char in string.ascii_uppercase:
    upper_count+=1
  elif char in string.ascii_lowercase:
    lower_count+=1

print(f"digits: {digit_count}, upper case: {upper_count}, lower case: {lower_count}")

enter a sentence: this is a upper caSE lOWeR case, Aditi likes ice_cream
this list has 10 words
digits: 0, upper case: 6, lower case: 37

In [ ]:
#LISTS

l1 = ["apple","banana","cherry","mango"]
l2 = [10,20,30,40]
l3 = [True, False]
l4 = list(("Jack"))
l5 = list(("Jack","John"))

print(l4)
print(l4[::-1])
print(l5)
print(l1[0])
print(l1[0:4])
print(l1[:4])
print(l1[0:])
print(l1[:])
print(l1[::-1])
#starting index should be less than or equal to the ending index
#output is ordered
print(l1[-4:-1])
print(l1[-1:-4])
x= len(l1)
print(x)

print(type(l1))#class and objects
print(type(l1[0]))

if "apple" in l1:
  print("exists")

l1[1] ="kiwi"
print(l1)
l1[1:3]="pineapple","dates","x"
print(l1)

['J', 'a', 'c', 'k']
['k', 'c', 'a', 'J']
['Jack', 'John']
apple
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['mango', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry']
[]
4
<class 'list'>
<class 'str'>
exists
['apple', 'kiwi', 'cherry', 'mango']
['apple', 'pineapple', 'dates', 'x', 'mango']

In [ ]:
lis = ["apple","banana","cherry"]
lis[1:2] = ["kiwi","mango","chikku"]
print(lis)

['apple', 'kiwi', 'mango', 'chikku', 'cherry']

In [ ]:
lis  = ["apple","banana","cherry","kiwi","mango","chikku"]
lis[1:3] = ["watermelon"]
print(lis)

['apple', 'watermelon', 'kiwi', 'mango', 'chikku']

In [ ]:
list = ["apple","banana","cherry"]
list.insert(2,"watermelon")
print(list)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
list = ["apple","banana","cherry"]
list.append("watermelon")
print(list)

['apple', 'banana', 'cherry', 'watermelon']

In [ ]:
l1 = ["apple","banana","cherry"]
l2 = ["Jack","John"]
l1.extend(l2)
print(l1)
print(l2)

['apple', 'banana', 'cherry', 'Jack', 'John']
['Jack', 'John']

In [ ]:
l1 = ["apple","banana","cherry"]
l1.remove("apple")
print(l1)
l1.pop(1)
print(l1)
l1.clear()
print(l1)
del l1
print(l1)

['banana', 'cherry']
['banana']
[]

NameError: name 'l1' is not defined

In [ ]:
#for loop
#without indexing
thislist = ["apple","banana","cherry"]
for x in thislist :
  print(x)

apple
banana
cherry

In [ ]:
#FOR LOOP WITH INDEXING

thislist = ["apple","banana","cherry"]
for i in range(len(thislist)) :
  print(thislist[i])

apple
banana
cherry

In [ ]:
i=0
thislist = ["apple","banana","cherry"]
while(i<3):
  print(thislist[i])
  i+=1

apple
banana
cherry

In [ ]:
#list comphrehension

#newlist = [expression for item in iterable ]

l1 = ["apple","banana","cherry"]
l2=[]

for x in l1:
  if "a" in x:
    l2.append(x)

print(l2)

['apple', 'banana']

In [ ]:
fruits = ["apple","banana","cherry"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana']

In [ ]:
#sort alphabetically for reverse increase a parameter (reverse= True)
fruits = ["apple","banana","cherry","kiwi","mango","chikku"]
fruits.sort(reverse=True)
print(fruits)
fruits.sort()
print(fruits)

['mango', 'kiwi', 'chikku', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'chikku', 'kiwi', 'mango']

In [ ]:
# sort the marks list according to how close it is to a given mark say 50
#customized sort

#sorted based on how close a number is to 50
def fun(n):
  return abs(n-50)

marks = [100, 50, 65, 82, 23]
marks.sort(key = fun)#just passing the function name not calling
print(marks)

#[100-50, 50-50, 65-50, 82-50, 23-50]sort diffrences in ascending order
#[50,65,23,82,100]

[50, 65, 23, 82, 100]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)
#insensitive for the case of letters
#while pasing the key= fun just pass the name : dont call the function

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
#sensitive sort for uppercase letters

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
#write a program to swap first and last numbers of the list

def swap(l1):

  temp = l1[0]
  l1[0] = l1[-1]
  l1[-1] = temp

  return l1

l1=[30,40, 20, 100]
l2= swap(l1)
print(l2)

[100, 40, 20, 30]

In [ ]:
#take an list as a input
n= int(input())
l1 = []
for i in range(0,n):
  x = int(input())
  l1.append(x)

print(l1)

In [ ]:
#swap the elemets at given position note: positions start from 1 indexes start from 0

def swapPositions(l1, pos1, pos3):
  temp = l1[pos1-1]
  l1[pos1-1] = l1[pos3-1]
  l1[pos3-1] = temp

  return l1

l1=[30,40, 20, 100]
pos1,pos2 =1,3
l2= swapPositions(l1,pos1,pos2)
print(l2)

[20, 40, 30, 100]

In [ ]:
#declare a list, sum of all elements and average

n= int(input())
l1 = []
for i in range(0,n):
  x = int(input())
  l1.append(x)

print(l1)

sum=0
for j in l1:
  sum = sum + j

print("sum:",sum)
print("average:", sum/n)

5
5
10
15
20
25
[5, 10, 15, 20, 25]
sum: 75
average: 15.0

In [ ]:
#try to find first and last element in the list
l1=[5, 10, 15, 20, 25]
print(l1[0])
print(l1[-1])

5
25

In [ ]:
#minimun and maximun no in a array
li=[2,4,67,2,65,21,100,3,4,5]
li.sort()
print(li)
print(li[0])
print(li[-1])

[2, 2, 3, 4, 4, 5, 21, 65, 67, 100]
2
100

In [ ]:
#count the number of ocurances of an item in the list using function and without

def count(lis,key):
  count = 0
  for i in lis:
    if i == key:
      count = count+1

  return count

lis = [1,3,5,62,33,54,54,54,21,33,3,90,65,54]
key = int(input())
if key in lis :
  x = count(lis,key)
  print(x)

else:
  print("INVALID KEY!!!")

54
4

In [ ]:
#wap to count the unique values in a list

#lis = [1,3,5,62,33,54,54,54,21,33,3,90,65,54]
#x= set(lis)
#print(len(x))


#OR

def unique(lis):
  lis2=[]
  for x in lis:
    if x not in lis2:
      lis2.append(x)

  return lis2



lis = [1,3,5,62,33,54,54,54,21,33,3,90,65,54]
y = unique(lis)
print(len(y))

9

In [ ]:
#find out the duplicate removal list product using list comprehension

def pd(un):#use diffent variable not the actual one
  product = 1
  for i in un:
    product *= i
  return product

li = [1,3,4,5,1,3,4]
res =[]
[res.append(x) for x in li if x not in res]
print(res)
print(pd(res))

[1, 3, 4, 5]
60

In [ ]:
#write a program to extract elements with a frequency grater than k

li = [1,3,4,5,1,3,4,5,7,8,6,3,6,7,8,9,10]
K = 2
newlist = []
for i in li:
  freq = li.count(i)
  if(freq>K) and i not in newlist:
    newlist.append(i)

print(newlist)

[3]

In [ ]:
# write a program to text if a list containts the elements in a range

li = [1,3,4,5,1,3,4,5,7,8,6,3,6,7,8,9,10]

l,h = 3,40
res= True
for ele in li:
  if ele <l or ele >h:
    res = False
    break
print("contains all elements in the range: ", res)
#anyone element in the range
new=[]
for i in li:
  if i>l and i<h:
    new.append(i)

if len(new)==0:
  print("False")

else:
  print("True")

contains all elements in the range:  False
True

In [ ]:
#write a program to demonstrate list intersection and union

l1 = [1,2,3,6,9,10]
l2 = [1,4,3,7,8,20]

l3 = set(l1) & set(l2)
print(list(l3))

l4 = set(l1)|set(l2)
print(list(l4))

[1, 3]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20]

In [ ]:
#wap to merge 2 sorted list into a single sorted list


#l3 = l2 + l1
#l3=list(l3)
#l3.sort()#dont assign it to a variable you wont get output
#print(l3)


#or



def merge(l1,l2):
  m=[]
  i,j =0,0
  while (i<len(l1)) and (j<len(l2)):
    if l1[i]<l2[j]:
      m.append(l1[i])
      i+=1
    else:
      m.append(l2[j])
      j+=1
  m.extend(l1[i:])
  m.extend(l2[j:])
  return m

l1 = [1,2,3,6,9,10]
l2 = [3,4,5,7,8,20]

print(merge(l1,l2))

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 20]

In [ ]:
#find the largest sub array sum of a given list.     #IMPORTANT

def largest_sub_array(lst):
  max_sum = current_sum = lst[0]

  for num in lst[1:]:
    current_sum = max(num,current_sum+num)
    max_sum = max(max_sum,current_sum)

  return max_sum

mylist = [-2,1,-3,4,-1,2,1,-5,4]
print("largest subarray sum:",largest_sub_array(mylist))

largest subarray sum: 6

In [ ]:
# write a program to partition a list round a given value such that all elements
# less than the given value come before it and all the elements greater than the
# given value come after it %%

#you can do this without list comprehension by iterating the lst by for loop in
# range and write 3 if statements then concate it

def partition(lis,pivot):
  less = [x for x in lis if x < pivot ]
  equal= [x for x in lis if x == pivot]
  more = [x for x in lis if x > pivot]
  return less + equal + more


my_list = [1,6,5,9,3,4,2,4,6,9,58]
p_value = 4

print('partitioned list: ', partition(my_list, p_value))

partitioned list:  [1, 3, 2, 4, 4, 6, 5, 9, 6, 9, 58]

In [ ]:
# find the peak element in the list of integers. Peak element is an element that
# is greater than or equal to its neighbours %%
#sorted array
#use search algorithm binary or linear

def peak(lst):
  if not lst:
    return None
  l = 0
  r = len(lst)-1      # indexes not the numbers of the list

  while(l<r):
    mid = l + (r-l)//2        #we do this so that the range doesnot overflow the stack doesnt matter
    if lst[mid]<lst[mid+1]:     #with small lists but with large lists whivh has 1000 elements it does

      l = mid +1
    else:
      right = mid

  return l

num = [1,2,1,3,5,6,4,10]
num.sort()
print("peak element index: ", peak(num))

#THIS PRINTS THE INDEX IF YOU NEED ELEMENT CHANGE THE RETURN

peak element index:  7