In [23]:
#sun 2 numbers
a=int(input("a:"))
b=int(input("b:"))
print (" generating sum.......")
print ("sum:",a+b)

a:6
b:90
 generating sum.......
sum: 96

In [3]:
#area of a square
a= int(input("side of the square"))
area = a*a
print (a)

side of the square6
36

In [11]:
#avg of 2 numbers
a=int(input("a:"))
b=int(input("b:"))
avg=(a+b)/2
print(avg)

a:5
b:0
2.5

In [19]:
#condition check using clever if
a=int(input("a:"))
b=int(input("b:"))
val=("False", "True")[a>b]
print(val)

a:5
b:0
True

In [12]:
#string basics . length of the string
name= input("your first name:")
print(len(name))

your first name:aditi
5

In [13]:
#count of string
str1= "$$$$$$$$$$$$$$$$$$$i am $$$$$$$$$$$$$$$$ ^7&832374rhsebfjsdhfL>OIWitrhzbscnhdzbn.QIO2483654738290987T6789087647389208YTFGXHJMNCB V"
print(str1.count("$"))

35

In [17]:
#odd or even
num= int(input("enter a number to be checked"))
if ((num % 2) == 1):
  print("the number is odd")

else :
  print ("the number is even")

enter a number to be checked1
the number is odd

In [20]:
#find the greatest number
num1 =int(input("number1:"))
num2 =int(input("number2:"))
num3 =int(input("number3:"))

if (num1>num2 and num1>num3):
  num=num1
elif(num2>num1 and num2>num3):
  num=num2
else:
  num=num3

print ("the greatest number is:",num)

number1:3
number2:5
number3:7
the greatest number is: 7

In [22]:
#multiple of 7
num=int(input("number:"))

if ((num%7) ==0 ):
  print ("multiple of 7")

else:
  print("not a multiple of 7")

number:77
multiple of 7

In [9]:
#input 3 movies store them in a list

movies =[]

mov1=input ("movie1")
movies.append(mov1)
mov2=input ("movie2")
movies.append(mov2)
mov3=input ("movie3")
movies.append(mov3)

print(movies)

movie1tuio
movie2jyd
movie3kuuh
['tuio', 'jyd', 'kuuh']

In [35]:
#check if the list is pallindrome or not

lst =input("enter a list of elements seperated by space: ")
user_list = lst.split()

user_list .reverse()

if user_list  == lst.split() :
  print("list is a pallindrome")
else :
  print("not a pallindrome")

enter a list of elements seperated by space: madam
list is a pallindrome

In [38]:
dict={"table": [" a piece of furniture","list of facts and figures"],"cat": "a small animal"}
print(dict)

{'table': [' a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

In [39]:
lst=["python", "c++","java","python","javascript","java","python", "java","c", "c++"]
print(len(set(lst)))

5

In [58]:
#print list
lst = [1, 2, 3, 4, 6, 7, 9, 7, 5, 4]
for i in lst:
  print(i)

1
2
3
4
6
7
9
7
5
4

In [61]:
tup =(1,2,3,4 ,5,65 ,6,7,4,0,90)
num= int(input("enter a value to be searched"))


for i in tup:
  if(num== i):
    print("the number is in ",i,"position")
    break
  i +=1

enter a value to be searched7
the number is in  7 position

In [69]:
#sum of natural numbers using while
n=int(input("enter the number till where sum has to be found"))
i=0
sum=0
while(i<=n):
  sum=sum+i
  i+=1

print("sum of n natural numbers is", sum)

enter the number till where sum has to be found6
sum of n natural numbers is 21

In [77]:
#factorial using for
n=int(input("enter the number till where sum has to be found"))
fact=1

for i in range (1,n+1,1):
  fact *= i



print("factorial of n natural numbers is", fact)

enter the number till where sum has to be found5
factorial of n natural numbers is 120

In [5]:
#len of list using fun
def len_list(lst):
  ll=len(lst)
  return ll

def print_lst(lst):
  for i in range(len(lst)):
    p_lst=print(i,end=" ")
  return p_lst

lst=[1,2 ,3,4 ,5]
length=len_list(lst)
print(length)
print_lst(lst)

5
0 1 2 3 4

In [12]:
#factorial of n using fun
def calc_fact(n):
  fact=1
  for i in range (1,n+1,1):
    fact *= i
  print(fact)

n= int(input("enter the no whose factorial is to be found: "))
calc_fact(n)

enter the no whose factorial is to be found: 4
24

In [20]:
#sum of naturals using recursive functions
def calc_sum(n):
  if n==0:
    return 0
  return calc_sum(n-1)+ n

sum=calc_sum(5)
print(sum)

15

In [31]:
# print all elements in a list using recursive function hint:use list and index as parameter

def print_lst(lst,idx=0):
  if (idx==len(lst)):
    return 0
  print(lst[idx])
  print_lst(lst,idx+1)

numbers=[1,2,3,4,5]
print_lst(numbers)

1
2
3
4
5

In [5]:
with open("demo.txt","r")as f:
  data =f.read()

new_data=data.replace("java","python")
print (new_data)

hi everyone
 we are learning file I/O
using python
i like using python

In [21]:
"""def word_search():
  with open("demo.txt","r")as f:
    data =f.read()
    word="learning"
    if word in data:
      print("FOUND")
    else:
      print("NOT FOUND")
"""
def line_check():
  word="learning"
  data = True
  line_count=1
  with open("demo.txt","r")as f:
    data=f.readline()
    while data ==True :
      if word in data:
        print(line_count)
        return
      line_count+=1

      return -1

line_check()

In [34]:
with open("demo.txt","r")as f:
  data=f.read()
  print(data)

nums=data.split(",")
print(nums)

for val in nums:
  if (int(val) % 2 == 0):
    count += 1
  num+=1

print(count)

2,4,56,78,97,97,54,34,32
['2', '4', '56', '78', '97', '97', '54', '34', '32']
7

In [36]:
#class and attributes
#creating a class with a constructor with name and marks of 3 subjects as arguments in constructor
#then create a method to print average

class Student:
  def __init__(self,name, marks1,marks2,marks3):#or you can make marks and create a list while calling a object
    self.name= name
    self.marks1= marks1
    self.marks2= marks2
    self.marks3= marks3

  def get_average(self):
    sum=self.marks1+self.marks2+self.marks3
    avg=sum/3
    return avg

s1=Student("karan",89,79,90)
print(s1.name)
print(s1.marks1)
print(s1.marks2)
print(s1.get_average())

karan
89
79
86.0

In [2]:
#create an class bank account having account no and balance as attributes create methods in printing balance ,credit and debit

class Account:
  def __init__(self,account_no, balance):
    self.accoount_no=account_no
    self.balance= balance

  def debit(self, amount):
    self.balance -= amount
    print("Rs.",amount,"was debited from your account")
    print("total balance",self.Get_balance())

  def credit(self.amount):
    self.balance += amount
    print("Rs.",amount,"was credited from your account")
    print("total balance",self.Get_balance())

  def Get_balance(self):
    return self.balance

acc1 = Account(12345,10000)
acc1.credit(1000)
acc1.debit(500)

Rs. 1000 was credited from your account
total balance 11000
Rs. 500 was debited from your account
total balance 10500