<a href="https://colab.research.google.com/github/AditiPai/Learning_Python/blob/main/python_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TUPLES

def create_tuples():
  tup1 = (1,2,3,4,5)
  tup2 = ('a','b','c','d','e')
  tup3 = ("apple", "banana","cherry")

  return tup1,tup2,tup3

def access_tuples(tup1,tup2):

  print("tuple1: ", tup1)
  print("first element of 2nd: ",tup2[0])

def unpacking_tuple1(tup3):

  (green, yellow, red) = tup3
  print(green)
  print(yellow)
  print(red)

def unpacking_tuple2(tup3):
  fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

  (green, yellow, *red) = fruits

  print(green)
  print(yellow)
  print(red)


def change_tuple(tup1,tup2):
  list1 = list(tup1)
  list2 = list(tup2)
  list1.append(6)
  list2.remove('c')
  tup1=tuple(list1)
  tup2=tuple(list2)
  print("tuple1",tup1)
  print("tuple2",tup2)
  return tup1,tup2

def loop_through_tuple(tup1):
  print("looping using for 1 : ")
  for x in tup1:
    print(x)

  print("looping using for 2 : ")
  for i in range(len(tup1)):
    print(tup1[i])

  print("looping using while: ")
  i=0
  while i<len(tup1):
    print(tup1[i])
    i +=1

def join_tuples(tup1,tup2):
  tuple3 = tup1+tup2
  return tuple3

tuple1,tuple2,tuple3 = create_tuples()
access_tuples(tuple1,tuple2)

unpacking_tuple1(tuple3)
unpacking_tuple2(tuple3)

tuple1,tuple2 = change_tuple(tuple1,tuple2)

loop_through_tuple(tuple1)

tuple3 = join_tuples(tuple1,tuple2)
print(tuple3)

tuple1:  (1, 2, 3, 4, 5)
first element of 2nd:  a
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
tuple1 (1, 2, 3, 4, 5, 6)
tuple2 ('a', 'b', 'd', 'e')
looping using for 1 :
1
2
3
4
5
6
looping using for 2 :
1
2
3
4
5
6
looping using while:
1
2
3
4
5
6
(1, 2, 3, 4, 5, 6, 'a', 'b', 'd', 'e')

In [ ]:
string_tuple = tuple("hello")
print(string_tuple)

list_tuple = tuple(["apple","banana","cherry"])
print(list_tuple)

('h', 'e', 'l', 'l', 'o')
('apple', 'banana', 'cherry')

In [ ]:
tuple_of_integers = (5,2,8,1,3)
sorted_tuple = tuple(sorted(tuple_of_integers))
print(sorted_tuple)
print(tuple(tuple_of_integers.sort()))


#sort functions sorts the original tuple which is not possible but sorted function creates another list

(1, 2, 3, 5, 8)

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
tuple= ((1, "apple"),(3,"orange"),(2,"banana"))
sort = sorted(tuple, key=lambda x:x[1])
print(sort)

[(1, 'apple'), (2, 'banana'), (3, 'orange')]

In [ ]:
s = tuple( x** 2 for x in range(1,10))
print(s)

#output in vs code (1, 4, 9, 16, 25, 36, 49, 64, 81)

In [ ]:
#zipped tuple

l1 = [1,2,3]
l2 = ['a','b','c']

zipped = zip(l1,l2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
#named tuple is a pakage in collections
#naming a tuple

from collections import namedtuple
import math

#define a named tuple for coordinates
point = namedtuple('point',['x','y'])

#create 2 points
point1 = point(1,2)
point2 = point(3,4)

#calculate distance between points
distance = math.sqrt((point1.x - point2.x)**2 + (point1.y - point2.y)**2)
print(distance)

2.8284271247461903

In [ ]:
original_tup = (1,2,3,4,5)
filtered = tuple(filter(lambda x: x%2 ==0,original_tup))
print(filtered)

from functools import reduce

def add(x,y):
  return x+y

reduced = reduce (add, original_tup)
print(reduced)

(2, 4)
15

In [ ]:
s={10, 20, 30,0, True,False}
print(s)

{0, True, 20, 10, 30}

In [ ]:
#SET

thisset = {"apple", "banana", "cherry"}
print(thisset)

thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'banana'}
{'cherry', 'orange', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'banana', 'papaya', 'mango', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
#union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [ ]:
#intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
et1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
#makes changes in set 1

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
#diference

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [ ]:
#symmetric difference

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
#write a program to find all possible subsets of a given set

def power_set(s):
  result = [[]]
  for ele in s:
    result.extend([subset+ [ele] for subset in result])
  return [set(subset) for subset in result]

input_set = {1,2,3}
powerset = power_set(input_set)
print(powerset)

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]

In [ ]:
#dictionary
# creating a dictionary


this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(this_dict)

thisdict2 = dict(name = "John", age = 36, country = "Norway")
print(thisdict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#dictionary
# creating a dictionary


this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(this_dict)

thisdict2 = dict(name = "John", age = 36, country = "Norway")
print(thisdict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
my_dict={}

my_dict['name']= 'Alice'
my_dict['age']= 30
my_dict['city']= 'New York'

print("initial dictionary:",my_dict)
print("name:",my_dict['name'])
print("age:",my_dict['age'])
print("city:",my_dict['city'])

x=my_dict.keys()
print(x)

y=my_dict.values()
print(y)

z= my_dict.items()
print(z)

m=my_dict.get('city')
print(m)

initial dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}
name: Alice
age: 30
city: New York
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 30, 'New York'])
dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])
New York

In [ ]:
for x in my_dict:
  print(x)
for x in my_dict:
  print(my_dict[x])

for x in my_dict.keys():
  print("keys",x)

for x in my_dict.values():
  print("values:",x)

for x,y in my_dict.items():
  print("items",x,y)

name
age
city
Alice
30
New York
keys name
keys age
keys city
values: Alice
values: 30
values: New York
items name Alice
items age 30
items city New York

In [ ]:
print("key value pair:")

for key, value in my_dict.items():
  print(key,":",value)

key value pair:
name : Alice
age : 30
city : New York

In [ ]:
if 'name' in my_dict:
  print("yes")
else:
  print("no")

yes

In [ ]:
my_dict['age']=25
print("modified age:",my_dict['age'])

my_dict.update({"age":26})

#adding to dictionary

my_dict["color1"] = "fair"
print(my_dict)

modified age: 25
{'name': 'Alice', 'age': 26, 'city': 'New York', 'color1': 'fair'}

In [ ]:
#removing values

removed_value = my_dict.pop("city")
print("removed value:",removed_value)
print("updated dictionary:",my_dict)

removed value: New York
updated dictionary: {'name': 'Alice', 'age': 26, 'color1': 'fair'}

In [ ]:
#removing the last inserted item
#using pop item()
removed_item = my_dict.popitem()
print("removed item:",removed_item)
print("updated dictionary:",my_dict)

removed item: ('color1', 'fair')
updated dictionary: {'name': 'Alice', 'age': 26}

In [ ]:
my_dict.clear()
print("cleared dictionary:",my_dict)

del my_dict
#deletes dictionary completely

cleared dictionary: {}