<a href="https://colab.research.google.com/github/AditiPai/Learning_Python/blob/main/python_day1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a python program to read the name and year of birth of a person
#and calculate his age in 2024

name = input( "what is your name? ")
year = input("which year were you born")

age = 2024 - int(year)
print("the person is" + " "+ name +" " +"born in" + " "+year +" "+ "whose age is"+ " "+ str(age))

what is your name? Aditi
which year were you born2003
the person is Aditi born in 2003 whose age is 21

In [ ]:
#read the marks of the student if marks is greater than 80 distinction
#between 60-80 pass, less that 60 fail otherwise fail

marks= int(input("enter the marks"))

if( marks < 100 and marks > 80):
  print ("distinction")
elif(marks < 60 and marks > 80 ):
  print("pass")
elif (marks < 60):
  print("fail")
else:
  print ("invalid")

enter the marks222
invalid

In [ ]:
# write a program to check if a no is prime or not

num = int(input("enter a number"))
if num ==1 or 0:
  print(num, "is not a prime number")
if num ==2 :
  print(num, "is a prime number")

for i in range (2,num):
  if num % i == 0 :
    print(num, "is not a prime number")
    break
  else :
    print(num ," is a prime")
    break

enter a number4
4 is not a prime number

In [ ]:
#write a program to generate all prime numbers between 1 to n

start = int(input("enter a number"))
end = int(input("enter a number"))
count = 0
for num in range (start,end+1):
  for i in range (2,num):
    if num % i == 0:
      break
  else :
    print(num)
    count+=1

print("total prime numbers are", count)

enter a number11
enter a number30
11
13
17
19
23
29
total prime numbers are 6

In [ ]:
#write a program to check if a number is strong number or not
#the sum of factorial of each digit of a number is equal to the number itself 145

def fact(num):
  return 1 if (num==1 or num==0) else num * fact(num-1)

num = int(input("enter a number"))
sum = 0
temp = num
while(num):
  a = num % 10
  sum += fact(a)
  num = num // 10

if temp == sum :
  print(temp,"is a strong number")
else:
  print(temp,"is not a strong number")

enter a number145
145 is a strong number

In [ ]:
#write a program to check if the number is amstrong number or not
#the sum of  individual digits to the power of length of the number is equal to the number itself 153


num = int(input("enter a number"))
sum = 0
temp = num
order = len(str(num))

while(num):
  a = num % 10
  sum = sum + a ** order
  num =num // 10

if sum == temp:
  print(temp,"is an amstrong number")
else:
  print(temp,"is not an amstrong number")

enter a number153
153 is an amstrong number

In [ ]:
#check a number if it is happy or not
# example
def isHappy(n):
    sum = 0
    while(n):
        r = n % 10
        sum = sum + r ** 2
        n = n //10
    return sum

num = int(input())
res = num


if (num == 1 ):
    print(True)

elif (num == 4):
    print(False)

while(num != 1 or 4 ) :
    num = isHappy(num)
    if (num == 1 ):
        print(True)
        break
    elif (num == 4):
        print(False)
        break

19
True

In [ ]:
# check if a number is neon no or not
# sum of the square of individual digits is equal to the number itself9

num = int(input("enter a number"))
r = num * num
sum = 0

while(r):
  a = r % 10
  sum = sum + a
  r = r // 10

if sum == num:
  print(num,"is a neon number")
else:
  print(num,"is not a neon number")

enter a number67
67 is not a neon number

In [ ]:
#check if a number is spy number or not
#the sum of digits is equal to the product of digits 1124

num = int(input("enter a number"))
temp = num
sum = 0
product =1

while (num):
  a= num % 10
  sum = sum + a
  product = product * a
  num = num // 10

if (sum == product ):
  print(temp,"is a spy number")
else:
  print(temp,"is not a spy number")

enter a number1124
1124 is a spy number

In [ ]:
# write a program to generate fibonacci series and fibonnacci number of a given number n
num = int(input("enter a number"))

fib1 = 0
fib2 = 1
print(fib1,fib2, end=" ")

for num in range (2 , num):
    fib3 = fib1 +fib2
    print(fib3, end=" ")
    fib1 = fib2
    fib2 = fib3

enter a number23
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711

In [ ]:
# write a program to cheeck if the number is pallindrome or not

num = int(input("enter a number"))

def isPallindrome(num):
  num = str(num)
  if num ==num[::-1]:
    print("is a pallindrome")
  else :
    print("is not a pallindrome")

isPallindrome(num)

'''while (num):
  a= num % 10
  rev = rev * 10 + a
  num = num // 10 '''''

enter a number454
is a pallindrome

In [ ]:
# convert a number from negative to positive
num= int(input("enter a number"))

if(num <0) :
  print(abs(num))

else :
  print(num)

enter a number-45
45

In [ ]:
# write a program to find factorial of a number

def fact(num):
  return 1 if (num==1 or num==0) else num * fact(num-1)

num = int(input("enter a number"))
if (num>0):
  a=fact(num)
  print(a)
else:
  print("invalid")

enter a number6
720

In [ ]:
#write a program to generate a multiplication table of any number

num = int(input( "enter a number"))

for i in range(1, 11,1):
  print(num,"*", i ,"=" , num *i)

enter a number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
# is a leap year or not
num = int(input( "enter a number"))

if (num % 4) == 0:
  print (num, "is a leap year")

else :
  print (num, "is not a leap year")

enter a number2003
2003 is not a leap year

Day2

In [ ]:
#write a python program to find the best of 2 test average marks out of 3 tests marks accepted from the user
marks1=int(input())
marks2=int(input())
marks3=int(input())

if marks1>marks2 and marks2>marks3:
  print((marks1+marks2)/2)

elif marks3>marks1 and marks1>marks2:
  print((marks1+marks3)/2)

else:
  print((marks3+marks2)/2)

34
45
67
56.0

In [ ]:
#Develop A PYTHON programe to convert a binary number into a decimal, octal or hexa decimal numbers using functions

In [ ]:
#Define a  function F as Fn =Fn-1 +Fn-2. write a python program which accepts a value for N(for N >0)
#as input and pass this value to the function. Display suitable error msg if the condition for input vzlue is not followed

In [ ]:
#find string similarities between 2 similar strings

In [ ]:
#write a Python program that accepts a sentence and finds the number of words, digits, uppercase lettrs and lower case letters

In [ ]:
'''write a program to print the following pattern

*
* *
* * *
* * * *
* * * * *
'''
#step one : see the number of rows and apply a loop
#step two : see the number of colums and apply a loop
#step three : check relationship between rows and columns
#step four : print the required character
#step five : check for where to print spaces

m = int(input("enter the number of rows"))
n = int(input("enter the number of columns"))

c = input("enter the character to be printed")

for i in range(0,m):
  for j in range(0,n):
    if i >= j:
      print (c, end=" ")
  print ()

enter the number of rows9
enter the number of columns8
enter the character to be printed*
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * *

In [ ]:
'''write a program to print the following pattern

        *
      * *
    * * *
  * * * *
* * * * *
'''
m = int(input("enter the number of rows and columns "))

c = input("enter the character to be printed")

for i in range(m):
  for j in range(m):
    if i+j >= m-1:
      print(c, end=" ")
    else:
      print(" ", end =" ")
  print()

enter the number of rows and columns 5
enter the character to be printed*
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
'''write a program to print the following pattern
* * * * *
  * * * *
    * * *
      * *
        *
'''
m = int(input("enter the number of rows and columns "))

c = input("enter the character to be printed")

for i in range(m):
  for j in range(m):
    if j>=i :
      print(c,end=" ")
    else:
      print(" ", end=" ")
  print()

enter the number of rows and columns 5
enter the character to be printed*
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
'''write a program to print the following pattern
* * * * *
* * * *
* * *
* *
*
'''
m = int(input("enter the number of rows and columns "))


c = input("enter the character to be printed")

for i in range(0,m):
  for j in range(0,m):
    if i+j <= m-1:
      print (c, end=" ")
  print ()

enter the number of rows and columns 5
enter the character to be printed*
* * * * *
* * * *
* * *
* *
*

In [ ]:
'''write a program to print the following pattern
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
'''
#step one : see the number of rows and apply a loop
#step two : see the number of colums and apply a loop
#step three : check relationship between rows and columns
#step four : print the required character
#step five : check for where to print spaces

m = int(input("enter the number of rows"))
n = int(input("enter the number of columns"))

c = input("enter the character to be printed")

for i in range (0,m):
  for j in range (0,n):
    print (c ,end =" ")
  print()

enter the number of rows7
enter the number of columns5
enter the character to be printed*
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
'''write a program to print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''

m = int(input("enter the number of rows and columns "))




for i in range(1,m+1):
  for j in range(1,m+1):
    if i >= j:
      print (j, end=" ")
  print ()

enter the number of rows and columns 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
'''write a program to print the following pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''
#the number of rows and columns should be equal


m = int(input("enter the number of rows and columns "))




for i in range(1,m+1):
  for j in range(1,m+1):
    if i >= j:
      print (i, end=" ")
  print ()

enter the number of rows and columns 4
1
2 2
3 3 3
4 4 4 4

In [ ]:
'''write a program to print the following pattern

* * * * *
*       *
*       *
*       *
* * * * *

'''
m = int(input("enter the number of rows and columns "))

c = input("enter the character to be printed")

for i in range(m):
  for j in range(m):
    if i == 0 or i == m-1 or j == 0 or j == m-1:
      print(c,end=" ")

    else :
      print(" ",end=" ")

  print()

enter the number of rows and columns 7
enter the character to be printed*
* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [ ]:
'''write a program to print the following pattern

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

'''

n = int(input("enter the number of rows and columns : "))

for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

enter the number of rows and columns : 5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
'''write a program to print the following pattern

1  2  3   4
5  6  7   8
9  10 11 12
13 14 15 16

'''
n = int(input("enter the number of rows and columns: "))
k=1

for i in range(1,n+1):
  for j in range(1,n+1):
    print(k,end=" ")
    k+=1
  print()

enter the number of rows and columns: 4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
'''write a program to print the following pattern

take the user input for what character is to be printed

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A
'''

m = int(input("enter the number of rows: "))
n = int(input("enter the number of columns: "))

c = input("enter the character to be printed: ")

for i in range(0,m):
  for j in range(0,n):
    print(c,end=" ")

  print()

enter the number of rows: 5
enter the number of columns: 3
enter the character to be printed: @
@ @ @
@ @ @
@ @ @
@ @ @
@ @ @

In [ ]:
# wap to read a string from user and implement the logic to remove the
# characters which are at the odd numbers of the index

s = input("enter the string: ")
a = " "

for i in range(0,len(s)):
  if i % 2 == 0:
    a=a+s[i]

print(a)

#WORKS IN VS CODE

enter the string: water

TypeError: 'int' object is not callable

In [ ]:
#wap to swap 2 numbers using a 3rd variable

a=int(input())
b= int(input())

temp=a
a=b
b=temp

print(a)
print(b)

2
3
3
2

In [ ]:
#swap 2 numbers without using 3rd variable

a=int(input())
b= int(input())

a= a+b
b= a-b
a=a-b

print(a)
print(b)

10
30
30
10